body {
background: rgba(133, 255, 145, 0.795);
font-family: Arial, Helvetica, sans-serif;
}
h1 {
color: navy;
text-align: center;
}
.projects { display:flex; flex-wrap:wrap; } /* condensed to save space */
.project img {
    width: 300px;
    height: 300px;
    margin: 10px;
    border: 2px solid rgb(126, 14, 201); /* choose a color */
    display: block;
    margin: auto;
}


