body {
background: rgba(209, 206, 67, 0.854);
font-family: Georgia, 'Times New Roman', Times, serif;
}
h1 {
color: rgba(0, 0, 0, 0.781);
text-align: center;
}
.projects { display:flex; flex-wrap:wrap; } /* condensed to save space */
.project img {
    width: 300px;
    height: 300px;
    margin: 10px;
    border: 3px solid rgb(126, 14, 201); /* choose a color */
    display: block;
    margin: auto;
}


